{%extends 'base.html'%}
{%block body_block%}
{% load static %}

<div class="container-fluid " style="margin-top:1%">
    <img src="{% static 'images/Career-Banner.jpeg' %}" style="height:450px;width:100%" alt="">
</div>

<div class="container " style="margin-top:1%;font-size:30px">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p style="font-family: 'Audiowide', cursive;">
                <strong>This is a leading job site for connecting job seekers with employers looking to hire.
                    Every day, thousands of new job vacancies are listed from the region's top employers.
                    <a href="{%url 'register'%}">Register</a> Free !!</strong>


            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="bg-img">

</div>



</div>



{%endblock%}
