{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mt-5 border border-dark solid 2px p-5">
           <h3>Password resent link sent</h3>
            <p>please check your email and follow the instructions to reset password</p>

            <p>If you don't receive an email,please make sure you've entered the email you
            registered with,and check your spam folder also.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>



{%endblock%}