{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row mt-5">

        {%for job in jobs%}
        <div class="card border border-dark" style="width: 24rem;margin-left:50px;margin-top:30px;">
            <img src="{{job.image.url}}" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
                <h5 class="card-title"><strong>{{job.company.company_name}}</strong></h5>
                <h5 class="card-title">Job Title:{{job.job_title}}</h5>
                <p class="card-text">Location:{{job.location}}</p>
                <p class="card-text">Created date:{{job.create_date}}</p>
                <p class="card-text">Valid till:{{job.end_date}}</p>
                <div>
                </div>

            </div>

        </div>
        {%endfor%}
    </div>
    <div>
        {%if jobs%}

        <h3 style="font-family: 'Cookie', cursive;margin-left:140px;margin-top:30px;font-size:56px;">Interested to apply?Please register <a href="{%url 'register'%}">here!!</a>
        </h3>

        {%endif%}
    </div>
</div>
</div>

{%endblock%}