{%extends 'e_base.html'%}

{%block body_block%}
<div class="container-fluid mt-5">
<div class="row">
    <div class="col-4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Applications: Accepted #{{accepted|length}}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th>Candidate Name</th>
                            <th>Job Title</th>
                            <th>Qualification</th>
                            <th>Submitted on</th>
                            <th>Status Updated On</th>
                        </tr>
                        {%for application in accepted%}
                        <tr>
                            <td><a href="{%url 'applicant_detail' application.applicant.id  %}">{{application.applicant.applicant_name}}</a></td>
                            <td>{{application.job.job_title}}</td>
                            <td>{{application.applicant.qualification}}</td>
                            <td>{{application.submitted_date}}</td>
                            <td>{{application.status_updated_date}}</td>

                        </tr>

                        {%endfor%}
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Applications : Rejected #{{rejected|length}}
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th>Candidate Name</th>
                            <th>Job Title</th>
                            <th>Qualification</th>
                            <th>Submitted on</th>
                            <th>Status Updated On</th>

                        </tr>
                        {%for application in rejected%}
                        <tr>
                            <td><a href="{%url 'applicant_detail' application.applicant.id  %}">{{application.applicant.applicant_name}}</a></td>
                            <td>{{application.job.job_title}}</td>
                            <td>{{application.applicant.qualification}}</td>
                            <td>{{application.submitted_date}}</td>
                            <td>{{application.status_updated_date}}</td>
                        <tr/>
                        {%endfor%}
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Applications:Under Processing #{{under_processing|length}}
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th>Candidate Name</th>
                            <th>Job Title</th>
                            <th>Qualification</th>
                            <th>Submitted on</th>
                            <th>Status Updated On</th>

                        </tr>
                        {%for application in under_processing%}
                        <tr>
                            <td><a href="{%url 'applicant_detail' application.applicant.id  %}">{{application.applicant.applicant_name}}</a></td>
                            <td>{{application.job.job_title}}</td>
                            <td>{{application.applicant.qualification}}</td>
                            <td>{{application.submitted_date}}</td>
                            <td>{{application.status_updated_date}}</td>
                        <tr/>
                        {%endfor%}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

{%endblock%}