{%extends 'e_base.html'%}
{%block body_block%}
<div class="container">
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10 border border-dark">
            <strong style="font-family: 'Cookie', cursive;font-size:40px">{{job.job_title}}</strong>
            <p style="font-family: 'Tangerine', cursive;font-size:40px">{{job.description}}</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px"><strong style="font-family: 'Cookie', cursive;font-size:40px">Required Skills:</strong>{{job.skills}}</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px" ><strong style="font-family: 'Cookie', cursive;font-size:40px">Experience</strong> should be minimum {{job.experience}} years</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px"><strong style="font-family: 'Cookie', cursive;font-size:40px" >Salary :</strong> {{job.salary}}</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px"><strong style="font-family: 'Cookie', cursive;font-size:40px">Location:</strong> {{job.location}}</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px"><strong style="font-family: 'Cookie', cursive;font-size:40px">Number of vacancies:</strong> {{job.vacancies}}</p>
            <p style="font-family: 'Tangerine', cursive;font-size:40px"><strong style="font-family: 'Cookie', cursive;font-size:40px">Valid till:</strong> {{job.end_date}}</p>
        </div>

        <div class="col-1"></div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="margin-left:-268px">
                <a href="{%url 'listjob'%}" style="font-size:30px;font-family: 'Cookie', cursive;"><-Back</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>








{%endblock%}