{%extends 'e_base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8  mt-5">
        <table class="table">
            <tr>
                <th>Candidate Name</th>
                <th>Job Title</th>
                <th>Created date</th>
                <th>Valid till</th>
                <th>Applied On</th>
                <th>location</th>
            </tr>
            <tr>
                <td><a href="{%url 'applicant_detail' application.applicant.id %}">{{application.applicant.applicant_name}}</a></td>
                <td>{{application.job.job_title}}</td>
                <td>{{application.job.create_date}}</td>
                <td>{{application.job.end_date}}</td>
                <td>{{application.submitted_date}}</td>
                <td>{{application.job.location}}</td>
            </tr>




        </table>
        <div class="col-2"></div>





    </div>
    <br><br>

</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="submit">
        </form>
    </div>
    <div class="col-2"></div>

</div>

{%endblock%}